---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import AboutLinks from "../components/AboutLinks.astro"
import Footer from "../components/Footer.astro"
import("../styles/about.scss")
---

<Layout title="About me">
  <Header />
  <div class="about-container">
    <section class="about-content">
      <h1 class="about-content__heading">Hello, friend</h1>
      <AboutLinks />
      <p class="about-content__text">
        <!-- <Bio /> -->
        I am working towards changing my career to software development.
        <br />
        <br />
        For most of my life I have been the one in my family and circle of friends
        who was the go to for fixing computers and giving advice on technical purchases.
        I spent many hours pulling apart and rebuilding PCs, installing operating
        systems. a computer network for my local Community House in Castlemaine.
      </p>
    </section>

    <a href="/">
      <div class="card">
        <div class="color-layer"></div>
        <div class="inner-layer"></div>
        <h2 class="text-layer">lets talk</h2>
      </div>
    </a>
  </div>
  <Footer />
</Layout>
