---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import("../styles/about.scss")
---

<Layout title="About me">
  <Header />
  <div class="about-container">
    <section class="about-content">
      <h1 class="about-content__heading">Hello, friend</h1>
      <section class="about-links">
        <a href="/about" class="nav__btn-text about-links__btn"
          ><button
            style="background-color: var(--color-fg); color: var(--color-bg)"
            class="btn nav__btn nav_btn--active"
            id="about-active">about</button
          >
        </a>
        <a href="/bio" class="nav__btn-text about-links__btn"
          ><button class="btn nav__btn" id="about-active">bio</button>
        </a>
      </section>

      <style>
        .about-links {
          display: grid;
          gap: 0.4rem;
          grid-template-columns: 1fr 1fr;
          margin-block-start: 1rem;
        }

        .about-links__btn {
          /* width: 7rem; */
        }
      </style>
      <p class="about-content__text">
        For most of my life I have been the one in my family and circle of
        friends who was the go to for fixing computers and giving advice on
        technical purchases. I spent many hours pulling apart and rebuilding
        PCs, installing operating systems.
        <br />
        <br />
        A few years ago I decided to take this thread and start weaving it more promentently
        into my life and began to learn and build projects. Now, while still working
        full time I dedicated as much free times as I can learning and practicing.
      </p>
    </section>

    <a href="/">
      <div class="card">
        <div class="color-layer"></div>
        <div class="inner-layer"></div>
        <h2 class="text-layer">lets talk</h2>
      </div>
    </a>
  </div>
  <Footer />
</Layout>
