---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import AboutLinks from "../components/AboutLinks.astro"
import Footer from "../components/Footer.astro"
import("../styles/about.scss")
---

<Layout title="About me">
  <Header />
  <div class="about-container">
    <section class="about-content">
      <h1 class="about-content__heading">Hello, friend</h1>
      <AboutLinks />
      <p class="about-content__text">
        <!-- <Bio /> -->
        I am working towards changing my career to software development.
        <br />
        <br />
        For most of my life I have been the one in my family and circle of friends
        who was the go to for fixing computers and giving advice on technical purchases.
        I spent many hours pulling apart and rebuilding PCs, installing operating
        systems.
        <br />
        <br />
        I have always been interested in learning new technology and would persist
        with learning learning new software when many people would give up. Yet,
        I never seriously considered IT as a career. I did do some tech-related jobs
        such as teaching Microsoft Windows to Elderly people, and later to Sudanese
        refugees. I also did some freelance computer repairs and a set up and maintained
        a computer network for my local Community House in Castlemaine.
        <br />
        <br />
        In the early 2000s when I became interested in Linux through Ubuntu I experimented
        with some Python and HTML, but it wasn’t until 2020 that I had a serious
        look at Python programming. I was at home in isolation due to a Covid outbreak
        at my workplace and I spent some time thinking about what Jobs might be resilient
        to disruption by a pandemic or similar emergency situation. It didn’t take
        long realise that software development would be once such career path. Knowing
        that I could go to the internet and start learning right then and there,
        I did just that.
        <br />
        <br />
        I started with OSSU (Open Source Society University) Computer Science Pathway
        on Github and started with Python as they recommended. I really enjoyed the
        challenge and I felt that my mind was getting a similar workout that I was
        putting my body through with strength training. I learned years ago pushing
        myself to do difficult things has many benefits beyond the completion of
        the task at hand and since taking software development seriously my life
        and outlook has changed considerably and I wonder what possibilities await
        me when I apply skills to the professional arena.
        <br />
        <br />
        I have gained a lot of confidence in my abilities and this is why I am applying
        for positions even if I don’t have the industry experience, nor a formal
        tertiary education in IT.
        <br />
        <br />
        While I enjoyed and learned a lot from the courses I completed through the
        OSSU pathway and later through the Udemy platform, I soon discovered that
        I learned that most from building my own projects. When I build my own projects
        I am forced to learn new ways to solve edge cases that no course can cover.
        And I find that I can sit with problems for hours on end until I solve them,
        or if I don’t solve them I find that while taking a break and turning my
        attention to something else, very often a possible solution comes to me.
        The satisfaction of solving problems in this way is immensely satisfying
        and I can only imagine how much I could learn by working with a team of experienced
        developers.
        <br />
        <br />
        Thus I feel that the next step for me is to being working for a company that
        can help me develop the skills and experience I need to become a valuable
        member of your team and continue to develop technically and with the soft
        skills required for a professional developer. To this end my experience in
        manufacturing will help. I have worked with many people from various backgrounds
        and with varying experiences and have developed good communication and interpersonal
        skills. As a Quality Officer I have learned how to assess processes to improve
        efficiency and safety and I have developed the resilience to champion a change
        that I felt needed to be made despite any resistance to change I might encounter.
        Patience, clear communication and having a thourough grasp of the technichal
        details as well as offering a number of possible solution have proven invaluable
        to negotions with management and supervisors I work with.
        <br />
        <br />
        I seek a job that I do as an opportunity for personal development because
        I get a lot of satisfaction from being able to help people do their job better
        and to help the company deliver higher quality products and service. It is
        important to me that workers on the factory floor have someone who will listen
        to them and take their ideas and issues seriously. I am always keen to hear
        what people have to say about the workplace as I can learn a lot from their
        unique perspective.
      </p>
    </section>

    <a href="/">
      <div class="card">
        <div class="color-layer"></div>
        <div class="inner-layer"></div>
        <h2 class="text-layer">lets talk</h2>
      </div>
    </a>
  </div>
  <Footer />
</Layout>

<style>
  .about-container {
    display: grid;
    width: 100%;
    padding-inline: 2rem;
  }

  .about-content {
    max-width: var(--text-width-block);
    margin-inline: auto;
  }

  .about-content__heading {
    align-self: center;
    margin-block-start: 4rem;
    /* width: 100%; */
    margin-inline: auto;
  }

  .about-content__text {
    margin-block-start: 3rem;
    font-size: var(--font-size-base);
  }

  .card > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .card {
    display: grid;
    position: relative;
    /* place-items: center; */
    overflow: hidden;
    background-color: transparent;
    height: 4rem;
    max-height: 80px;
    max-width: 150px;
    margin-inline: auto;
    border: 1px solid var(--color-highlight);
    border-radius: 5px;
    margin-block: 4rem;
  }

  .color-layer {
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 15%;
    height: 300%;
    animation: borderRotate 3s linear infinite;
    z-index: -1;
    background: linear-gradient(
      90deg,
      var(--color-highlight-light) 0%,
      var(--color-highlight-deep) 100%
    );
  }

  @keyframes borderRotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .inner-layer {
    /* position: relative; */
    background-color: var(--color-bg);
    margin: 0.2rem;
    border: 1px inset var(--color-highlight);
    border-radius: 5px;
  }

  .text-layer {
    align-self: center;
    justify-self: center;
    margin-block-end: 0.1em;
  }
</style>
