<section class="about-links">
  <a href="/about" class="nav__btn-text about-links__btn"
    ><button class="btn nav__btn nav_btn--active" id="about-active"
      >about</button
    >
  </a>
  <a href="/bio" class="nav__btn-text about-links__btn"
    ><button class="btn nav__btn" id="about-active">bio</button>
  </a>
</section>

<style>
  .about-links {
    display: grid;
    gap: 0.4rem;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 1rem;
  }

  .about-links__btn {
    /* width: 7rem; */
  }
</style>
