---
import("../styles/header.scss")
---

<div class="container">
  <header id="header" class="header">
    <!-- Dark/Light mode toggle-->
    <div class="dark-light">
      <i class="fa-sharp fa-regular fa-lightbulb fa-lg dark-light__icon"></i>

      <input class="dark-light__switch" type="checkbox" name="checkbox" />
    </div>
    <!-- Navigation mobile -->
    <div class="hamburger-logo">
      <button class="nav-toggle" aria-label="open navigation">
        <span class="hamburger"></span>
      </button>
      <nav class="nav">
        <a href="/about" class="nav__link nav__link--text">about</a>
        <a href="#projects" class="nav__link nav__link--text">projects</a>

        <a href="#contact" class="nav__btn-text"
          ><button class="btn nav__btn nav__link">Lets Talk</button>
        </a>
        <!-- Social links -->
        <div class="header-social">
          <!-- Twitter -->
          <a
            href="http://twitter.com/adamjralph"
            class="social__link social__link--twitter"
          >
            <i class="fa-brands fa-twitter fa-xl header__social__icon--twitter"
            ></i>
          </a>
          <!-- Youtube-->
          <a
            href="https://www.youtube.com/channel/UCRMH3kvPD8o1Khssr4A8EWg"
            class="social__link social__link--youtube"
          >
            <i class="fa-brands fa-youtube fa-xl header__social__icon--youtube"
            ></i>
          </a>
          <!-- Github -->
          <a
            href="https://github.com/adamjralph"
            class="social__link social__link--github"
          >
            <i class="fa-brands fa-github fa-xl header__social__icon--github"
            ></i>
          </a>
        </div>
      </nav>
      <div class="logo-mobile">
        <a href="/">
          <h1 class="text-gradient logo-mobile__heading">adam</h1>
        </a>
      </div>
    </div>
    <!-- Logo -->

    <!-- Navigation Tablet/Desktop -->
    <div class="logo-desktop">
      <h1 class="logo-desktop__heading">adam</h1>
    </div>

    <!-- Social links -->

    <!-- Navigation -->
    <nav class="nav">
      <a href="#about" class="nav__link">about</a>
      <a href="#projects" class="nav__link">projects</a>

      <a href="#contact" class="nav__btn-text"
        ><button class="btn nav__btn nav__link">Lets Talk</button>
      </a>
    </nav>
  </header>
</div>

<script>
  // Add styles
  const addCss = (css: string) => {
    const element = document.createElement("style")
    element.innerText = css
    const newStyle = document.body.appendChild(element)
    return newStyle
  }

  // Dark/Light mode
  const colorSchemeToggle = document.querySelector("input[name=checkbox]")

  colorSchemeToggle.addEventListener("change", function () {
    if (this.checked) {
      localStorage.setItem("themeChange-8d23k88", "on")
    } else {
      localStorage.removeItem("themeChange-8d23k88")
    }
    checkTheme()
  })

  function checkTheme() {
    let themeToggle = localStorage.getItem("themeChange-8d23k88")
    if (themeToggle) {
      addCss(":root {--color-bg: #ffffff}")
      addCss(":root {--color-fg: #1b1b1b}")
    } else {
      addCss(":root {--color-bg: #1b1b1b}")
      addCss(":root {--color-fg: #ffffff}")
    }
  }
  checkTheme()

  const hero = document.getElementById("hero")

  function hideHero() {
    if (hero.style.opacity === "0") {
      hero.style.opacity = "1"
    } else {
      hero.style.opacity = "0"
    }
  }
  // function triggerAnimateNavLinks() {
  //   if (mobileNav.style.display === "none") {
  //     mobileNav.style.display = "flex"
  //   } else {
  //     mobileNav.style.display = "none"
  //   }
  // }

  // Toggle menu
  const navToggle = document.querySelector(".nav-toggle")
  const nav = document.querySelector(".nav")

  const navContainer = document.querySelector(".hamburger-logo")

  navToggle.addEventListener("click", () => {
    nav.classList.toggle("nav--visible")
    navContainer.classList.toggle("nav-transition")
    hideHero()
  })
</script>
