<div class="container">
  <main id="main" class="main">
    <section id="hero" class="hero">
      <!-- <h1 class="hero__heading">Hello adventurer,</h1> -->
    </section>
    <h1 class="hero__heading hero__heading--2">
      I build <span>internet things</span>
    </h1>
  </main>
</div>

<style>
  .hero__heading {
    text-align: center;
    color: var(--color-fg);
    font-size: var(--font-size-lg);
  }
  .hero__heading--2 {
    color: var(--color-fg);
    font-size: var(--font-size-xl);
  }

  span {
    color: var(--color-highlight);
  }
</style>
