---
// import("../styles/global.scss")

// export interface Props {
//   title: string
// }
const { frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/6543bd4db3.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <!-- <Header /> -->
    <div class="about-container">
      <section class="about-content">
        <h1 class="about-content__heading">Hello, friend</h1>
        <p class="about-content__text"></p>
        <slot />
      </section>

      <a href="/">
        <div class="card">
          <div class="color-layer"></div>
          <div class="inner-layer"></div>
          <h2 class="text-layer">lets talk</h2>
        </div>
      </a>
    </div>
    <slot />
  </body>
</html>
