---
import("../styles/global.scss")

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/6543bd4db3.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style lang="scss" is:global>
      .nav__link {
        margin-inline: auto;
        margin-block-start: 1rem;
        font-weight: 600;
        letter-spacing: 1px;
        transition: color 0.3s ease-in-out;

        &:hover,
        &:focus {
          color: cornflowerblue;
        }

        &--text {
          font-size: var(--font-size-link-mobile);
        }

        /* @include media.for-tablet(width.$tablet) {
      margin-inline-end: var(--mg-600);
      margin-block-start: 1.5rem;
      color: var(--cl-neutral-black);
    } */
      }

      .nav__btn {
        cursor: pointer;
        width: 100%;
        background-color: var(--color-bg);
        color: var(--color-fg);
        border: 2px inset var(--color-fg);
        border-radius: 4px;
        font-size: var(--font-size-link-mobile);
        transition: color 0.5 ease;

        &:hover,
        &:focus {
          background-color: var(--color-fg);
          border: 2px inset var(--color-fg);
          color: var(--color-bg);
          filter: drop-shadow(0 0 0.3rem var(--color-fg));
        }
      }

      /* Social icons */
      .header-social {
        /* display: flex; */
        /* align-items: space-between; */
        /* justify-content: space-between; */
        margin-inline: auto;
        margin-block-start: 2rem;
        /* @include media.for-tablet(width.$tablet) {
    margin-inline-start: var(--mg-800);
    margin-block-start: 0.9rem;
    } */
      }

      .social__link {
        padding-inline: 1rem;
        animation: fadeInAnimation ease-in 2s;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
        animation-delay: 1.5s;
      }

      /* Social icons hover/focus state */
      .header__social {
        display: flex;
      }

      .header__social__icon {
        color: var(--color-bg);
        &--twitter,
        &--youtube,
        &--github {
          transition: color 0.3s ease-in-out;
          margin-inline: 0;
          padding-inline: 0;
        }

        &--twitter:hover,
        &--twitter:focus {
          color: var(--color-twitter);
        }
        &--youtube:hover,
        &--youtube:focus {
          color: var(--color-youtube);
        }

        &--github {
          border-radius: 50%;
        }
        &--github:hover,
        &--github:focus {
          color: var(--color-highlight-deep);
          background-color: var(--color-fg);
        }
      }
    </style>
  </body>
</html>
